.section {
    padding: 20px 20px;
    text-align: center;
    line-height: 2;
    font-size: 14px;
}

.section__article--img {
    border-radius: 100px;
    box-shadow: 0px 0px 25px 0px #640057;
}

.section__article--title {
    text-align: left;
}

.section__article--contents {
    text-align: left;
}

.section__article--inlineB {
    font-weight: bold;
}

.section__article--inlineI {
    font-style: italic;
}

.section__article--table {
    margin: auto;
    padding-top: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: b;
}

.section__article--tableCell {
    border: 2px solid #640057;
    padding: 10px;
    text-align: center;
}

.section__article--tableHeader {
    background-color: #caa3c6;
    color: white;
    font-weight: normal;
}

.section__article--tableRow:nth-child(even) {
    background: #eee;
}

.section__article--tableRow:hover {
    background: #afafaf;
}

.section__article--tableOver {
    overflow-x: auto;
}

.section__article--button {
    padding: 6px 10px;
}

.section__article--kontakt {
    list-style-type: none;
    justify-content: center;
    padding: 0px;
}

.section__article--email {
    text-decoration: none;
    color: #640057;
}