html {
    box-sizing: border-box;
    margin: auto;
    max-width: 1000px;
}

*, ::after, ::before {
    box-sizing: inherit;
}

Body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/background.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-color: #d8d8d8;*/
}

.containerBodyDark {
    background-color: rgb(131, 131, 131);
}